body{
  background-image:url(http://i0.hdslb.com/bfs/archive/d346de75f75b0a03f57358345e4c4d8f49767fc1.jpg);
  background-margin:100px;
  background-repeat:no-repeat;
  background-position:center center;}

  h1{size:4;}
