body{
  background-image:url(https://img.itw01.com/images/2018/06/15/09/4343_nuBCfn_F322SE3.jpg);

  background-size:1080px 720px;
  background-color:gray;
  background-repeat:no-repeat;
  background-position:center center;}
#main{
  max-width: 600px;
  margin: 0 auto;
}

  p1{
    font-family:serif;
    font-size:100px;
    line-height:100px;
    text-indent:100px;
  }

  p{
    font-family:serif;
    font-size:10px;
    text-indent:100px;
  }
